:root {
  --mainTxtCol: rgb(224, 224, 206);
}
* {
  padding: 0;
  margin: 0;
  color: var(--mainTxtCol);
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 30px;
}
@media only screen and (max-width: 700px) {
  * {
    font-size: 20px;
  }
}
@font-face {
  font-family: Barlow;
  src: url(../assets/fonts/Barlow/Barlow-Regular.ttf);
}
html {
  height: 100%;
}
body {
  background: rgb(42, 42, 43) url("../assets/bcg.jpg") center no-repeat;
  background-size: cover;
}
