* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(224, 224, 206);
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 29px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@font-face {
  font-family: Barlow;
  src: url(../assets/fonts/Barlow/Barlow-Regular.ttf);
}
html {
  height: 100%;
}
body {
  background: rgb(42, 42, 43) url("../assets/bcg.jpg") center no-repeat;
  background-size: 100% cover;
}
button {
  pointer-events: auto;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.6em;
  box-shadow: 0px 0px 3px 0px #b37e0e;
  border: none;
  background: #333b;
  color: #a5a5a5;
  padding: 5px 16px 7px;
  text-shadow: 1px 2px 1px #272727;
  color: #d6b212;
  transition: box-shadow 0.24s linear;
  margin: 0 10px;
}

button:hover {
  box-shadow: 0px 0px 3px 0px rgb(204, 11, 11);
  color: #8fcc00;
}
@media only screen and (max-width: 1020px) {
  * {
    font-size: 26px;
  }

}
