* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(224, 224, 206);
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: Barlow;
  src: url(../assets/fonts/Barlow/Barlow-Regular.ttf);
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to right, #cfdadf, #dfdcc8, #dddfcd, #d2dfc8, #dfe6fa);
  overflow-y: auto;
  overflow-x: hidden;
}

canvas {
  margin: 0;
  display: block;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 1020px) {
  * {
    font-size: 28px;
  }

}