* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(224, 224, 206);
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@font-face {
  font-family: Barlow;
  src: url(../assets/fonts/Barlow/Barlow-Regular.ttf);
}
html {
  height: 100%;
}
body {
  /* background: rgb(42, 42, 43) url("https://scontent-waw1-1.xx.fbcdn.net/v/t39.30808-6/318302216_10218055647021481_563261147423064518_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=gwh8qiWeTIUAX-loyxx&_nc_ht=scontent-waw1-1.xx&oh=00_AfCGMBRrOEQ2Q1VEfqhAJj154Sr_TMh1ycfKJgt_5vRLQw&oe=63CDA263") center no-repeat; */
  background: rgb(42, 42, 43) url("../assets/bcg.jpg") center no-repeat;
  background-size: 100% cover;
}

@media only screen and (max-width: 1020px) {
  * {
    font-size: 20px;
  }


}