:root {
  --mainTxtCol: beige;
}
* {
  padding: 0;
  margin: 0;
  color: var(--mainTxtCol);
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
}

@font-face {
  font-family: Barlow;
  src: url(/assets/fonts/Barlow/Barlow-Regular.ttf);
}

body {
  height: 100vh;
  background: rgb(32, 35, 41) url("./assets/bcg.jpg") center no-repeat;
  overflow: hidden;
  background-size: cover;
}

@media only screen and (max-width: 700px) {
  * {
    font-family: "Barlow", sans-serif;
    font-size: 17px;
  }
}

tr {
  color: grey;
}
