.container {
  box-sizing: border-box;
  max-width: 100vw;
  width: 400px;
  height: auto;
  border-radius: 1em;
  padding: 0.5em;
  background: #404c4c;
  box-shadow: 1px 1px 3px 0 #181818; 
  z-index: 2;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  border: 2px solid rgb(102, 131, 138);
  overflow-y: auto;
}
.container .content {
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #d1d1c3;
  padding-bottom: 0.5em;
}
.container .content p {
  text-shadow: 2px 2px 3px #424242;
  text-indent: 1em;
  text-align: justify;
  text-justify: auto;
  font-size: 1em;
  line-height: 1.2em;
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

.container .content img {
  box-shadow: 1px 1px 3px 0 #181818;
  width: 260px;
  height: 260px;
  padding: 0;
  margin: 0.5em;
  border-radius: 50%;
  border: 2px solid rgb(102, 131, 138);
}
@media only screen and (max-width: 700px) {
  .container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    transform: translate(0, 0);
  }
  .container .content p {
    align-items: center;
    justify-content: flex-start;
    font-size: 1.1em;
    padding: 0 0.4em;
  }
}