.container {
  box-sizing: border-box;
  max-width: 100vw;
  width: 400px;
  height: auto;
  background: #55d8187c;
  z-index: 2;
  padding: 0.67em;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  overflow: auto;
  border-radius: 1em;
  border: 2px solid #54d818;
}
.container .content {
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;

}
.container .content p {
  text-shadow: 2px 2px 3px #0a3805;
  text-indent: 1em;
  text-align: justify;
  text-justify: auto;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 auto;
  padding: 0.7em;
  color: #54d818;
  background: #105208;
  box-shadow: 1px 1px 3px 0 #181818;
  border-radius: 1em;
}
.container .content img {
  box-shadow: 1px 1px 3px 0 #181818;
  width: 260px;
  height: 260px;
  padding: 0;
  margin: 0.5em;
  border-radius: 50%;
  border: 2px solid #54d818;
}
@media only screen and (max-width: 1020px) {
  .container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    max-height: 100%;
    transform: translate(0, 0);
  }
  .container .content p {
    font-size: 1.3em;
  }
}