span {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: auto;
}
table {
  margin: 13px auto;
  border-radius: 5px;
}
tr,
th,
td {
  margin: 0;
  padding: 3px 7px 9px;
  text-shadow: 2px 2px 2px #272727;
}
/* tbody {
  background: rgba(255, 153, 0, 0.185);
} */
tr th {
  background: hsla(0, 0%, 7%, 0.533);
  border-radius: 0.5em;
  overflow: hidden;
  color: rgb(165, 165, 165);
  box-shadow: 0px 0px 3px 0px rgb(204, 11, 11);
}
th,
td {
  border-radius: 0.5em;
  color: #a5a5a5;
  box-shadow: 0px 0px 3px 0px #b37e0e;
  background: rgba(12, 75, 5, 0.5);
}
h1 {
  margin: 10px 0 0 0;
  padding: 0 0 5px;
  color: rgba(255, 167, 4, 0.5);
  line-height: 1.3em;
  font-size: 1.3em;
  text-shadow: 1px 2px 1px #272727;
  background:#27272780
}
h1 a {
  text-underline-position: under;
  display: inline-block;
  color: inherit;
  text-shadow: 1px 2px 1px #272727;
  color: rgb(177, 132, 50);

}
td a {
  font-weight: bold;
  color: rgb(214, 178, 18);
  text-underline-position: under;
}
