span {
  position:absolute;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  justify-content: center;
}
table {
  margin: 0 auto;
    border-spacing: 3px;
}
th,
td {
  padding: 5px 10px 8px;
  pointer-events: none;
  font-size: 0.6rem;
  line-height: 1em;
  border-radius: 0.2em;
  color: #616161;
  background: rgb(240, 240, 240);
  transition: all 0.24s linear;
}
tr:nth-child(n + 1) td:first-child {
  background: rgb(221, 221, 221);
}
td:hover {
    background: rgb(207, 207, 207);
}
tr th {
  background: rgb(221, 221, 221);
  overflow: hidden;
  color: rgb(120, 120, 120);
}
h1 {
  pointer-events: none;
  margin: 4vh 0;
  padding: 0.3em 0 0.5em;
  color: #9b9b9b;
  line-height: 1em;
  font-size:1em;
box-shadow: 0 0 1 tq2px 6px #c5c5c5 inset;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(221, 221, 221) 50%, rgba(0, 0, 0, 0));
  transition: color 0.24s linear;
}
td a {
  display: block;
  pointer-events: auto;
  font-weight: normal;
  color: #595959;
  font-size: 0.65rem;
  text-underline-position: under;
  text-decoration: none;
  text-shadow: 0px 0px 2px #838383;
  width: 100%;
  height: 100%;
}
td a:hover {
  color: #595959;
 text-shadow: 0;
}