span {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  justify-content: center;
}
table {
  margin: 13px auto;
  border-radius: 5px;
}
tr,
th,
td {
  margin: 0;
  padding: 5px 7px 8px;
  text-shadow: 2px 2px 2px #272727;
}
/* tbody {
  background: rgba(255, 153, 0, 0.185);
} */
tr th {
  background: hsla(0, 0%, 7%, 0.533);
  border-radius: 0.33em;
  overflow: hidden;
  color: rgb(165, 165, 165);
  box-shadow: 0px 0px 3px 0px rgb(204, 11, 11);
}
th,
td {
  pointer-events: none;
  font-size: 0.8em;
  border-radius: 0.5em;
  color: #a5a5a5;
  box-shadow: 0px 0px 3px 0px #b37e0e;
  background: rgba(12, 75, 5, 0.377);
  transition: all .24s linear;
}
td:hover {
  box-shadow: 0px 0px 3px 0px rgb(204, 11, 11);
}
h1 {
  pointer-events: none;
  margin: 1.3vw 0;
  padding: .3em 0 .5em;
  color: #ffa70480;
  line-height: 1em;
  font-size: 1em;
  text-shadow: 1px 1px 2px #272727;
  background-image:linear-gradient(to left,#fff0,#53360080 50%,#fff0);
  box-shadow: 0px 0px 3px 0px #cc0b0b;
  transition: color .24s linear;
}
h1:hover {
  color: #d6b212;
}
h1 a {
  pointer-events: auto;
  text-decoration: none;
  display: inline-block;
  text-shadow: 1px 2px 1px #272727;
  color: #d6b212;
}
h1 a:hover {
  color: #8fcc00;
}
td a {
  pointer-events: auto;
  font-weight: bold;
  color: #cec6a5;
  font-size: 1em;
  text-underline-position: under;
  text-decoration: none;

}
td a:hover {
  color: #d6b212;
}
