span {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: auto;
}
table {
  margin: 13px auto;
  border-radius: 5px;
}
tr, th, td {
  margin: 0;
  padding: 3px 6px 7px;
  text-shadow: 2px 2px 2px #272727;
}
tbody {
  background: #333c;
}
tr th {
  color: rgb(165, 165, 165);
  box-shadow: 0px 0px 2px 1px rgb(204, 11, 11);
}
th,td {
  color: #a5a5a5;
  box-shadow: 0px 0px 3px 1px #b37e0e;
}
h1 {
  margin: 10px 0 0 0;
  padding: 0;
  color: rgba(255, 167, 4, 0.5);
  line-height: 1.3em;
  font-size: 1.3em;
  text-shadow: 1px 2px 1px #272727;
}
h1 a {
  text-underline-position: under;
  display:inline-block;
  color: inherit;
  text-shadow: 1px 2px 1px #272727;
  color: rgb(177, 132, 50);
}
td a {
  font-weight: bold;
  color: rgb(199, 140, 30);
}