span {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: auto;
  padding-bottom: 25px;
}
table {
  margin: 13px auto 10px;
  border-radius: 5px;
}
tr, th, td {
  margin: 0;
  padding: 3px 6px 5px;
  text-shadow: 2px 2px 2px #272727;
}
tbody {
  background: #333b;
}
tr th {
  color: rgb(165, 165, 165);
  box-shadow: 0px 0px 2px 0 rgb(204, 11, 11);
}
th,td {
  color: rgb(165, 165, 165);
  box-shadow: 0px 0px 2px 0 #b37e0e;
}
h1 {
  margin: 10px 0 0 0;
  padding: 0;
  color: rgba(255, 167, 4, 0.5);
}
h1 a {
  text-underline-position: under;
  line-height: 2rem;
  display:inline-block;
  color: inherit;
  font-size: 2rem;
  text-shadow: 2px 2px 1px #272727;
  color: rgba(255, 167, 4, 1 );
}
td a {
  font-weight: bold;
  color: rgba(255, 167, 4, 1 );
}