<template>
  <link rel="stylesheet" href="./components/repos/style.css">
  <script src="./components/modal/index.js"></script>
  <link rel="stylesheet" href="./components/modal/style.css">
  <span class="span">
    <h1>Feel free to
      <a href="mailto:07zglossie@wp.pl?subject=aboutCode">
        mail me.
      </a>
    </h1>
    <table>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Type</th>
        <th>Language</th>
      </tr>
      <!-- <tr>
        <td id="no"></td>
        <td id="name"></td>
        <td id="type"></td>
        <td id="lang"></td>
      </tr> -->
    </table>
    <h1>
      <nav-modal id="about" label-text="About Me"></nav-modal>
      <nav-modal id="music" label-text="Music Tracks"></nav-modal>
      <nav-modal id="video" label-text="Music Videos"></nav-modal>
    </h1>
  </span>
</template>