<link rel="stylesheet" href="./components/repos/style.css">
<script src="./components/modal/index.js"></script>
<link rel="stylesheet" href="./components/modal/style.css">
<span class="span">
  <h1>Look down!</h1>
  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Type</th>
        <th>Language</th>
      </tr>
    </thead>
    <tbody id="repos">
    </tbody>
  </table>
  <h1>
    <nav-modal id="about" label-text="About Me"></nav-modal>
    <nav-modal id="music" label-text="Music Tracks"></nav-modal>
    <nav-modal id="video" label-text="Music Videos"></nav-modal>
  </h1>
</span>
