button {
  pointer-events: auto;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.5rem;
  box-shadow: 0px 0px 4px 2px #c8c8c8 inset;
  border: none;
  background: rgb(243, 243, 243);
  padding: 5px 16px 7px;
  text-shadow: 0px 1px 1px #b5b5b5;
  color: rgb(120, 120, 120);
  margin: 0 1em;
  transition: all 0.24s linear;
}

button:hover {
  box-shadow: 0px 0px 3px -1px #000;
  color: #505050;
  background: rgb(207, 207, 207);
}

@media only screen and (max-width: 1020px) {
  button {
    display: block;
    margin: 0.5em auto;
  }
}

.container {
  pointer-events: auto;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  z-index: 2;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  overflow: auto;
  background: #0000007a;
  font-size: 20px;
  cursor: pointer;
}

.container::after {
  border-radius: 1em;
  cursor: pointer;
  display: block;
  position: absolute;
  content: "X";
  padding: 0 0 2px 1px;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #aaaaaa;
  width: 37px;
  height: 37px;
  right: 1%;
  top: 1%;
  background: radial-gradient(at center, #fff, #ffffffa9);
  box-shadow: 0px 0px 16px 0px #4444444b inset;
}

#sc-widget {
  width: 100%;
  height: 100vh;
}

.container .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#player {
  margin-top: 12.5%;
}

.container .content p {
  text-shadow: 0px 2px 4px #3a3a3a;
  text-indent: 1em;
  text-align: justify;
  text-justify: auto;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 auto;
  padding: 0.7em;
  padding-top: 0;
  color: #d5e0e0;
  width: 50%;
}

.container .content img {
  box-shadow: 1px 1px 3px 0 #181818;
  width: 260px;
  height: 260px;
  padding: 0;
  margin: 1em 0;
  border-radius: 50%;
}

@media only screen and (max-width: 1020px) {
  .container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    transform: translate(0, 0);
  }

  .container .content p {
    font-size: 1em;
    line-height: 1.2em;
    width: 90%;
  }
  .container::after {
  border-radius: 1em;
  cursor: pointer;
  display: block;
  position: absolute;
  content: "X";
  padding: 0 0 3px 1px;
  font-size: 3vh;
  line-height: 5vh;
  color: #a5a5a500;
  width: 5vh;
  height: 5vh;
  right: 2%;
  top: 2%;
}
}