button {
  pointer-events: auto;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.6em;
  box-shadow: 0px 0px 6px -1px #b37e0e;
  border: none;
  background: #333b;
  color: #a5a5a5;
  padding: 5px 16px 7px;
  text-shadow: 1px 2px 1px #272727;
  color: #d6b212;
  transition: box-shadow 0.24s linear;
  margin: 0 1em;
}

button:hover {
  box-shadow: 0px 0px 3px 0px rgb(204, 11, 11);
  color: #8fcc00;
}
@media only screen and (max-width: 1020px) {
  button {
    pointer-events: auto;
    border-radius: 0.5em;
    cursor: pointer;
    display:block;
    font-size: 0.6em;
    box-shadow: 0px 0px 6px -1px #c99016;
    border: none;
    background: #333b;
    color: #a5a5a5;
    padding: 7px 16px 9px;
    text-shadow: 1px 2px 1px #272727;
    color: #d6b212;
    transition: box-shadow 0.24s linear;
    margin: 1em auto;
  }
}